@import "~nord/src/sass/nord";

.json-view {
  a.item {
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
  }

  a.item.has_children{
    cursor: pointer;
  }

  .toggler {
    width: 1em;
    padding: 0;
    display: block;
    text-align: center;
    float: left;
  }

  .collapse::before {
    content: "-";
  }

  .expand::before {
    content: "+";
  }

  .key {
    color: $nord15;
    user-select: none;
  }

  .value {
    user-select: all;

    .string {
      color: $nord14;
    }

    .number {
      color: $nord10;
    }

    .boolean {
      color: $nord12;
    }

    .null {
      color: $nord13;
    }

    .value-wrap pre {
      display: inline;
      font-size: 0.9rem;
    }
  }

  .children {
    margin-left: 1rem;
  }
}
