:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;

  div.no-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      flex: 0;
      display: block;
      max-height: 200px;
      opacity: 0.82;
    }

    .title {
      color: rgba(255, 255, 255, 0.2);
      margin-top: 2rem;
      text-align: center;
      font-weight: 300;
      font-size: 1.8rem;
    }
  }
}
