<div class="data-view">
  <span *ngIf="isSimple(data)" class="value" [class]="scalarClass(data)">
    {{ formatValue(data) }}
  </span>
  <div class="children" *ngIf="!isSimple(data)">
    <div *ngIf="!isArray(data)">
      <div class="item" *ngFor="let key of keysOf(data)">
        <div class="item-entry" *ngIf="isObject(data)">
          <span class="key">{{ formatValue(key) }}:</span>
          <span class="item-count" *ngIf="isArray(data[key]) && data[key].length > 1">[{{data[key].length}}]</span>
          <span *ngIf="isSimple(data[key])" class="value" [class]="scalarClass(data[key])">
            {{ formatValue(data[key]) }}
        </span>
        </div>
        <app-data-view class="data-view" *ngIf="!isSimple(data[key])" [data]="data[key]"></app-data-view>
      </div>
    </div>
    <div *ngIf="isArray(data)">
      <app-data-view class="data-view" *ngFor="let item of data" [data]="item"></app-data-view>
    </div>
  </div>
</div>
