@import "~nord/src/sass/nord";

:host {
  .mat-accordion {
    display: block;
    margin: 35px;
  }

  .mat-expansion-panel-header-title > .service-status {
    margin-right: 1rem;
    height: 24px;
  }

  .mat-expansion-panel-header-title {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .mat-expansion-panel-header-description {
    flex-grow: 0;
  }

  .version-compat-warn {
    display: inline-block;
    padding-right: 1rem;
    height: 24px;
    line-height: 24px;
    font-size: 24px;

    .mat-icon {
      font-size: 24px;
      line-height: 24px;
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0;
    }
  }

  .node-title {
    height: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .node-description {
    flex: 1;
    display: flex;

    .left {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 1rem;
    }

    .right {
      a {
        background: rgba(255, 255, 255, 0.11);
        height: 24px;
        line-height: 24px;
      }

      a:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .version-compat-info {
    background: $nord13;
    color: $nord0;
    padding: 0.5em 1em;
    font-size: 0.92em;
    margin-bottom: 1.2rem;
  }

  .status-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.92em;

    th {
      padding: 0.8em 2em;
    }

    td {
      padding: 0.2em 2em;
      line-height: 24px;

      a {
        width: 24px;
        height: 24px;
        line-height: 24px;
      }
    }

    th {
      background: $nord0;
      text-align: left;
    }

    tr:hover {
      background: $nord0;
    }

    td.service-status {
      width: 70px;
      display: table-cell;
      border-radius: 0;
      height: initial;
      text-align: center;
    }

    td.actions {
      overflow: hidden;

      & > * {
        float: right;
      }
    }
  }
}
