<app-no-data *ngIf="!metas || 0===metas.length"></app-no-data>
<section *ngIf="!!metas && metas.length > 0">
  <div class="left">
    <mat-action-list dense>
      <div mat-subheader>
        <b>{{ident.value}}</b>
      </div>
      <mat-list-item (click)="select(meta)" *ngFor="let meta of metas" [class.active]="meta === selected.value"
                     role="listitem">
        {{ meta.mod }}
      </mat-list-item>
    </mat-action-list>
  </div>
  <div #right class="right">
    <app-data-view *ngIf="null !== selected.value" [data]="selected.value?.meta"></app-data-view>
  </div>
</section>
