@import "~nord/src/sass/nord";

:host {
  height: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;

  & > section {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    position: relative;

    .left {
      width: 250px;
      background: $nord1;
      overflow-y: auto;

      .mat-list-item {
        height: 26px;
        color: #cecece;
      }

      .mat-divider {
        margin-top: 10px;
      }
    }

    .right {
      box-sizing: border-box;
      padding: 25px 25px 25px 15px;
      flex: 1;
      height: 100%;
      overflow-y: auto;

      & > .meta-last-update {
        text-align: right;
        font-size: 0.9rem;
        color: $nord10;
      }

      & > .spacer {
        height: 100px;
      }
    }
  }
}
